@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Inter+Tight&display=swap');

/* # Initial */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

:root {
    /* Fonts */
    --FF: 'Inter Tight', sans-serif;
    --FF-HEADINGS: 'Fjalla One', sans-serif;
    --FS: clamp(1rem, 1.5vh, 1.5rem);
}

@media (prefers-color-scheme: dark) {
    :root {
        --BGCOLOR-FADE: gray;
        --BGCOLOR: #000;
        --BODY-BGCOLOR: #1c1f25;
        --BUTTON-COLOR: #000;
        --FONT-COLOR: whitesmoke;
        --HEADER-COLOR: whitesmoke;
        --HERO-COLOR: #333;
        --HIGHLIGHT-COLOR: whitesmoke;
        --LINK-ACTIVE: rgb(252, 200, 103);
        --LINK-COLOR: whitesmoke;
        --LINK-HOVER: rgb(82, 77, 69);
        --NAV-BGCOLOR: rgb(20, 20, 20);
    }
}

html {
    scroll-behavior: smooth;
    font-size: var(--FS);
    font-family: var(--FF);
}

h1,
h2,
h3 {
    font-family: var(--FF-HEADINGS);
}

p {
    line-height: 1.5;
}

a:any-link {
    color: var(--LINK-COLOR);
}

a:hover,
a:focus-visible {
    color: var(--LINK-HOVER);
    transition: color .25s;
}

a:focus{
    transition: color .25s;
}


a:active {
    color: var(--LINK-ACTIVE);
}

body {
    background-color: var(--BODY-BGCOLOR);
    color: var(--FONT-COLOR);
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
}

/* # Header */
.header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    padding-top: 15px;
}
.header__h3 {
    margin-right: 20px;
    text-align: left;
    background-color: var(--HEADER-BGCOLOR);
    color: var(--HEADER-COLOR);
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
}
.header__nav {
    margin-left: auto;
    background-color: var(--NAV-BGCOLOR);
    font-weight: bold;
}
.header__ul {
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

/* # Main */
.hero{
    padding-top: 300px;
    padding-bottom: 300px;
}

.image-container {
    position: relative;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 320px;
    height: 320px;
}

.image-gradient {
    position: absolute;
    margin-top: -20%;
    top: 50%;
    left: 50%;
    border-radius: 70%;
    width: 320px;
    height: 320px;
    background-image: linear-gradient(to right bottom, #cb0c7f, #bc2041, #983d12, #6e4a00, #474d06, #3a571e, #2d5f35, #1f664c, #1d7e6c, #1a978f, #1fafb5, #32c8dc);
    filter: blur(40px);
    transform: translate(-50%,-50%);
}

.image-container img {
    position: relative;
    margin: auto auto 50% auto;
    width: 60%;
    height: auto;
    border-radius: 12px;
    
}

#bio {
    margin-top: 300px;
    margin-bottom: 600px;
}

.projects {
    margin-top: 100px;
    display: flex;   
    flex-wrap: wrap;
    gap: 4px;
}

.projects__item{
    background-color: #3e4147;
    transition: background-color .25s;
    width: calc((100% - 4px * 2)/3);
}

.projects__item-image {
    max-width: 100%;
    filter: grayscale(1);
    transition: filter .25s;
    padding-top: 50%;
    padding-bottom: 50%;
}

.projects__item:hover .projects__item-image{
    filter: grayscale(0) invert(0);
}
.projects__item:hover {
    background-color: #ffffff;
}

/* # Footer */
footer {
    padding-top: 300px;
    padding-bottom: 50px;
    display: flex;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track{
    background: #1a1818;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(#1a978f,#2d5f35);
    border-radius: 10px;
}