:root {
  --primary: #a04428;
}

/* Navbar */
.navbar-collapse {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  gap: 16px;
}

.nav-link {
  color: rgb(0, 0, 0); /* Set link color */
  text-decoration: none; /* Remove default underline */
  padding: 6px;
  padding-bottom: 3px; /* Adjust bottom padding */
  /* border-radius: 4px; */
  border-bottom: 3px solid transparent; /* Transparent border to maintain layout */
  transition: border-bottom 0.3s; /* Smooth transition for the underline */
}

.nav-link:hover, .nav-link.active {
  border-bottom: 3px solid black; /* Black line under item on hover and for active link */
}

.navbar-text {
  margin-right: 10px; /* Adjust as needed */
}

main {
  text-align: center;
  margin: 40px;
  padding: 12rem;
}

.google-button-wrapper {
  display: flex;
  justify-content: center;
  height: 10vh;
}

.google-button {
  margin: 4rem; /* Adjust as needed */
}
