/**
 * Tailwind CSS Base Styles
 * Include default cross-browser styles
 */
@tailwind base;

/**
 * Tailwind CSS Component Classes
 * Include any custom components
 */
@tailwind components;

/**
 * Tailwind CSS Utility Classes
 * Include utility-first classes
 */
@tailwind utilities;

/**
 * Global Styles
 * Custom properties and base styles
 */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  color: #000000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.section {
  transition: opacity 0.5s ease-in-out;
}

/**
 * Animation Keyframes
 * Define custom animations
 */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/**
 * Animation Utilities
 * Custom animation classes
 */
.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out forwards;
}

.button {
  background-color: var(--button-background);
  color: var(--text-color);
}

.button:hover {
  background-color: var(--button-hover-background);
}

.text-secondary {
  color: var(--secondary-text-color);
}

.border {
  border-color: #666666;
}

/* Example CSS for glassmorphism */
.navbar {
    backdrop-filter: blur(10px); /* Adjust the blur amount as needed */
    background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent white */
    border-radius: 12px; /* Rounded corners */
    border: none; /* Remove any border */
    box-shadow: none; /* Remove any shadow if necessary */
}

:root {
  --emerald-color: #00FFA3; /* Default emerald color */
  --emerald-hover-color: #00E693; /* Hover color for emerald */
  --button-background: #007BFF; /* Default button background color */
  --button-hover-background: #FFD700; /* Button hover color */
  --text-color: #000000; /* Default text color */
  --secondary-text-color: #333333; /* Secondary text color */
  --border-color: #666666; /* Border color */
  --background-color: #ffffff; /* Background color */
}

/* Add a class for light theme */
.light-theme {
  --emerald-color: #007BFF; /* Change to a more suitable color for light backgrounds */
}

/* Example usage of the variable */
.text-emerald {
  color: var(--emerald-color);
}

/* 3D Transform Utilities */
.perspective-1000 {
  perspective: 1000px;
}

.perspective-1500 {
  perspective: 1500px;
}

.rotate-y-6 {
  transform: rotateY(6deg);
}

.rotate-y-neg-6 {
  transform: rotateY(-6deg);
}

.rotate-z-30 {
  transform: rotateZ(30deg);
}

/* Combined rotation class */
.rotate-y-neg-6.rotate-z-30 {
  transform: rotateY(-6deg) rotateZ(30deg);
}

.transform-style-3d {
  transform-style: preserve-3d;
}